
body{
	background-color: powderblue;
	max-width: 500px;
	margin: 0 auto;
}

#todo{
	padding-top: 30px;
	padding-left: 55px;
	color: white;
	font-size: 40px;
}

#taskcreator{
	width: 500px;
	height: 30px;
	font-size: 20px;
	border: 0;
	text-align: center;
	border-radius: 4px;
}

#taskcreator:focus{
	outline:none;
}

#list{
	text-align: left;
	font-size: 40px;
	margin: 0;
	display: inline-block;
}

#list:hover{
	text-decoration: line-through;
}
